/*General Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

/* Hide Spin Buttons */ 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Transparent placeholder */
input:focus::placeholder {
  color: transparent;
}


/*Custom Properties*/
:root[data-theme="dark"]{
  --body-bg: #01131E;
  --icon-fill: #DCF2FF;
  --moon-fill: #FD6259;
  --icon-bg: #00273F;
  --sun-bg: ;
  --moon-bg: #03AE85;
  --container-bg: #011C2C;
  --title-color: #FFF;
  --input-text: #FFF;
  --input-bg: #011C2C;
  --border: #DBDBDB;
  --text-color: #FFF;
  --pause-border: #D1D1D1;
  --pause-text: #FFF;
}

:root[data-theme="light"]{
  --body-bg: #FFF;
  --icon-fill: #FFF;
  --moon-fill: #DCF2FF;
  --icon-bg: #E9E9E9;
  --sun-bg: #FD6259;
  --moon-bg: #E9E9E9;
  --container-bg: #F9F9F9;
  --title-color:#000;
  --input-text:#000;
  --input-bg: #FFF;
  --border: #DBDBDB;
  --text-color: #000;
  --pause-border: #D1D1D1;
  --pause-text: #323232;
}




body {
  background-color: var(--body-bg);
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 36px;
  margin-top: 22px;
}

.icon-bg {
  background-color: var(--icon-bg);
  border-radius: 50px;
  padding: 10px 20px;
}

#sun-icon {
  width: 40px;
  height: 40px;
  fill: var(--icon-fill);
  background: var(--sun-bg);
  border-radius: 50%;
  padding: 5px 10px;
  transition: all .6s ease;
  cursor: pointer;
}



#moon-icon {
  width: 40px;
  height: 40px;
  fill: var(--moon-fill);
  background: var(--moon-bg);
  border-radius: 50%;
  padding: 5px 10px;
  transition: all .6s ease;
  cursor: pointer;
}



#moon-icon:active, #sun-icon:active {
  transform: scale(1.3);
}



.container{ 
  max-width: 431px;
  height: 313px;
  background-color: var(--container-bg);
  border-radius: 4px;
  margin: 96px auto 0 auto;
  position: relative;
}

.title h1 {
  color: var(--title-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
  padding-top: 18px;
}

input::placeholder {
  color: var(--input-text);
}

input {
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--border);
  background: var(--input-bg);
  color: var(--input-text);
  padding: 0 27px;
  font-size: 45px;
  width: 109px;
  height: 59px;
}

.input {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 35px;
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time p {
  color: var(--text-color);
  padding-top: 12px;
}

.buttons {
  margin: 44px 23px 0 23px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#start {
  width: 118px;
  height: 40px;
  background: #03AE85;
  border-radius: 3px;
  border: 1px solid #03AE85;
  flex-shrink: 0;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
}

#start:active {
  transform: scale(0.96);
}

#pause {
  width: 118px;
  height: 40px;
  background: rgba(234, 234, 234, 0.00);
  border-radius: 3px;
  border: 1px solid var(--pause-border);
  flex-shrink: 0;
  font-size: 18px;
  color: var(--pause-text);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
}

#pause:active {
  transform: scale(0.96);
}

#reset {
  width: 118px;
  height: 40px;
  background: #FD6259;
  border-radius: 3px;
  border: 1px solid #FD6259;
  flex-shrink: 0;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.4s ease;
}

#reset:active {
  transform: scale(0.96);
}

.bottom_line {
  width: 431px;
  height: 8px;
  border-radius: 0px 0px 4px 4px;
  background: #FD6259;
  position: absolute;
  bottom: 0;
}

footer {
  position: absolute;
  bottom: 10px;
  right: 36px;
  width: 100%;
  text-align: right;
}

.done {
  color: var(--text-color);
  font-size: 8px;
  text-decoration: underline;
}